# VS Code Dark+ Theme
default=#D4D4D4

# Keywords & Operators
keyword=#569CD6
keyword.directive=#C586C0
operator=#D4D4D4
punctuation=#D4D4D4
punctuation.special=#D4D4D4

# Functions & Methods (Pale Yellow)
function=#DCDCAA
function.method=#DCDCAA
function.builtin=#DCDCAA

# Types, Classes, and Modules (Blue-Green)
type=#4EC9B0
type.builtin=#569CD6
boolean=#569CD6
constructor=#4EC9B0
module=#4EC9B0

# Variables, Properties, and Parameters (Light Blue)
variable=#9CDCFE
variable.parameter=#9CDCFE
property=#9CDCFE

# Constants (Bright Blue & Standard Blue)
constant=#008BD1
constant.builtin=#569CD6

# Literals
string=#CE9178
number=#B5CEA8
comment=#878787